@{
    ViewBag.Title = "Home Page";
}

<div class="title-big">
    <img src="~/Content/Images/background_search_desktop.jpg" style="width:100%" />
    Closet Space Comics
</div>

<div>
    <div id="homemain" style="border:0px solid red">

    </div>
</div>

<script src="~/dist/bundle.js"></script>